{% extends 'torque/base.html' %}
{% block title %}Register{% endblock %}

{% block body_block %}
<div class="hero-unit">
	<h1>Register here</h1>

<div class="container">
		{% if registered %}
		<p>Thank you for registering!</p>
		<p><a href="/torque/login/">Login</a></p>
		<a href = "/torque/">Return to the homepage.<a/><br />
		{% else %}

		<form class="form-signin span8" id="user_form" method="post" action = "/torque/register/" enctype="multipart/form-data">
			{% csrf_token %}
			<h2 class="form-signin-heading">Sign up Here</h2>

			{% for field in user_form.visible_fields %}
			{{ field.errors }}
			{{ field.help_text }}<br />
			{{ field }}<br />
			{% endfor %}

			{% for field in profile_form.visible_fields %}
			{{ field.errors }}
			{{ field.help_text }}<br />
			{{ field }}<br />
			{% endfor %}

			<br />
			<input class="btn btn-primary" type="submit" name="submit" value="Register" />
		</form>
		{% endif %}
	</div>
</div>
{% endblock %}

		
