{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" context="width=device-width", initial-scale="1.0">
		<link href="{% static 'css/bootstrap-fluid-adj.css' %}" rel="stylesheet">
		<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" media="screen">
		<link href="{% static 'css/bootstrap-responsive.css' %}" rel="stylesheet">
		<title>App Central - {% block title %}Home{% endblock %}</title>
	</head>

	<body>
		<div class="navbar navbar-default navbar-fixed-top">
			<div class="container">	
				<div class="navbar-header">
					<a href="../" class="navbar-brand">Choreo</a>
					<button class="navbar-toggle" type="button" data-toggle="collapse" target="#navbar-main">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>	
				<div class="navbar-inner">
					<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="brand" href="/torque/">Torque</a>

					<div class="nav-collapse collapse">
						<ul class="nav pull-right">
							{% if user.is_authenticated %}
								<li class="navbar-text">Welcome, {{ user.username }}!</li>
								<li><a href="/torque/logout/">Logout</a></li>
							{% else %}
								<li><a href="/torque/register/">Register Here</a></li>
								<li><a href="/torque/login/">Login</a></li>
								<li><a href="/torque/search/">Search</a></li>
							{% endif %}
						</ul>
						<ul class="nav">
							{% if user.is_authenticated %}
								<li><a href="/torque/restricted/">Restricted</a></li>
								<li><a href="/torque/add_category/">Add Category</a></li>
							{% endif %}
						</ul>
					</div>
				</div>
			</div>
		</div>
		
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span12">
					{% block body_block %}
					{% endblock %}
				</div>
			</div>
		</div>

		<footer>
			<div class="container">
				<p>&copy; App Central</p>
			</div>
		</footer>
		
		<script src="{% static 'js/jquery-1.10.2.js' %}"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		
	</body>
</html>