{% extends 'base.html' %}
{% block title %}Edit Requirement{% endblock %}


{% block body_block %}
<div class="hero-unit">
	{% if requirement.id %}
	<h1>Edit Requirement</h1>
	{% else %}
	<h1>Add Requirement</h1>
	{% endif %}
	<br />
	<div class="container">
		<form method="post" action="{{ action }}">

			{% csrf_token %}
			
			<ul>
				{{ form.as_ul }}
			</ul>

			<input id="save_requirement" type="submit" value="Save" />
		</form>
		<a href="{% url 'requirement-list' %}">Back to list.</a>
	</div>
</div>

{% endblock %}
